* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: montserrat-bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}
body {
    background: url("../img/spearline_login_background1.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: montserrat;
}
#login-window {
    width: 350px;
    height: 430px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    top: 45%;
    margin-left: -175px;
    margin-top: -200px;
    border-radius: 7px;
}
#login-window-inner {
    position: relative;
    margin: 10px;
    background: #fff;
    height: 410px;
    border-radius: 7px;
}
#login-header {
    width: 100%;
    background: #111;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    vertical-align: middle;
    border-radius: 7px 7px 0px 0px;
}
#login-logo {
    width: 100%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
#close {
    float: right;
    padding-right: 5%;
}
#login-header {} #login-credentials,
#login-footer {
    padding-left: 10px;
    padding-right: 10px;
    width: 295px;
    text-align: center;
}
#login-credentials input,
#login-footer input {
    width: 300px;
    height: 30px;
    margin-top: 10px;
    padding-left: 5px;
}

#login-credentials input[type='checkbox'],
#login-footer input[type='checkbox'] {
    width: auto;
    height: 14px;
    margin-top: none;
    padding-left: none;
}
#login-credentials button {
    background: blue;
}
.message {
    margin-top: 10px;
    width: 295px;
    height: 35px;
    padding-top: 8px;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}
#login-credentials input[type="submit"],
#login-footer input[type="submit"] {
    background: #03a9f4;
    border: none;
    color: #fff;
    font-size: 20px;
    width: 310px;
    cursor: pointer;
}
.hiddenelem,
.hidden {
    display: none;
}
#login-footer {
    margin-top: 10px;
}
#login-forgotpassword {
    padding-left: 10px;
    POSITION: absolute;
    bottom: 0;
    background-color: #ECEFF1;
    width: 314px;
    height: 45px;
    padding-top: 15px;
}
#text-forgotpassword,
#text-forgotpassword_login {
    margin-top: 3px;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
}
.blue {
    color: #03A9F4;
    cursor: pointer;
}
#text-forgotpassworde:hover,
#text-forgotpassworde_login:hover {
    text-decoration: none;
    ;
    cursor: pointer;
    font-weight: bold;
}
#resetPasswo {
    background: #03a9f4;
    border: none;
    color: #fff;
    font-size: 20px;
}
#credentials-forget {
    text-align: left;
    font-size: 12px;
    margin-bottom: 10px;
}
.plr5px {
    padding-left: 5px;
    padding-right: 5px;
}
.error .plr5px i {
    color: #ff1111;
}
.success .plr5px i {
    color: #03A9F4;
}
#copytitle {
    font-weight: bold;
    margin-bottom: 3px;
}
#copyto {
    position: absolute;
    left: 30px;
    top: 30px;
    font-size: 12px;
}
#remember_div {
    text-align: left;
    font-size: 12px;
    margin-top: 2px;
}

#remember_div input[type="checkbox"] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
    margin-right: 2px;
}
#remember_div label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
#flashbox {
    height: 35px;
}


#resetPasswordButton{
    cursor: pointer;
}
